<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Listado de Users</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <% if !users.empty? %>
    <h1>Lista de Usuarios</h1>
    <table>
    <% for user in users %>
      <tr>
        <td> <%= user[:nombre] %> </td>
        <td> <%= user[:cedula] %> </td>
      </tr>
    <% end %>
    </table>
  <% else %>

  <% end %>  
</body>
</html>