.tuits {
  position: static; }

.tuit {
  position: relative;
  padding: 1em;
  padding-bottom: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  border: solid 1px rgba(153, 153, 153, 0.4); }
  .tuit:hover {
    border-color: gray; }
  .tuit .tuit-fecha {
    position: absolute;
    bottom: 0em;
    right: 0.5em; }

/*# sourceMappingURL=app.css.map */
