.tuits.row
  - for tuit in tuits
    .tuit.col-md-offset-4.col-md-4
      h5.author
        =  link_to "u/#{tuit.user.username}" do
          |@
          = tuit.user.username
      p.tuit-mensaje
        = tuit.mensaje
      p.tuit-fecha
        span.timeago title="#{tuit.created_at.iso8601}"
          = tuit.created_at
      p.tuit-actions
        span.reply
          = link_to "/tuits/new?parent_id=#{tuit.id}" do
            span.glyphicon.glyphicon-share-alt
      .replies
        - for reply in tuit.replies
          .reply
            h5.author
              =  link_to "u/#{reply.user.username}" do
                |@
                = reply.user.username
            p.reply-mensaje
              = reply.mensaje
            p.reply-fecha
              span.timeago title="#{reply.created_at.iso8601}"
                = reply.created_at
            p.tuit-actions
              span.reply
                = link_to "/tuits/new?parent_id=#{tuit.id}" do
                  span.glyphicon.glyphicon-share-alt


