- unless params[:parent_id].nil?
  h4 Vamos a responder esto:
  h5.author
    =  link_to "u/#{@to_reply.user.username}" do
      |@
      = @to_reply.user.username
  p.to_reply-mensaje
    = @to_reply.mensaje
  p.to_reply-fecha
    span.timeago title="#{@to_reply.created_at.iso8601}"
      = @to_reply.created_at

= form_for @tuit, '/tuits/create', multipart: true do |f|
  = hidden_field_tag :parent_id, value: params[:parent_id]
  p
    = error_messages_for @tuit
  p
    = label_tag :mensaje, :class => 'first'
    br
    = text_area_tag :mensaje, :value => params[:mensaje] 
  
  p
    = submit_tag "Tuiter", class: "btn btn-primary"