doctype html
html
  head
    title Slim Examples
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600"
    = stylesheet_link_tag "bootstrap", "app"
    / javascript:
    /   alert('Slim supports embedded javascript!')

  body
    nav.navbar.navbar-default
      .container
        .navbar-header
          button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav"
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
          = link_to "Tuiter App!!", "/", class: "navbar-brand"
        #main-nav.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            - if current_user
                li
                  = link_to current_user.name, "/users/show/#{current_user.id}"
                li
                  = link_to "Editar perfil", "/users/edit/#{current_user.id}"
                li
                  = link_to "Logout", '/logout'
            - else
              li
                = link_to "Login", '/login'
          ul.nav.navbar-nav.navbar-left
            li 
              = link_to "Tuits", '/tuits'
            li
              = link_to "Nuevo Tuit", '/tuits/new'

    .container
      #content        
        .contenido_interno
          == yield

    = javascript_include_tag "jquery", "bootstrap.min", "jquery.timeago", "application"
