
$default_space: 1em;
$color_default: #999;
$border_width_default: 1px;
$default_border: solid $border_width_default rgba($color_default,0.4);

.tuits {
  position: static;
}
.tuit {
  position: relative;
  padding: $default_space;
  padding-bottom: 2*$default_space;
  margin-top: $default_space;
  margin-bottom: $default_space;
  border: $default_border;
  &:hover {
    border-color: darken($color_default, 10%);
  }
  .tuit-fecha {
    position: absolute;
    bottom: 0em;
    right: 0.5em;
  }
}