= form_for @user, '/login' do |f|
  p
    = label_tag :email, :class => 'first'
    = email_field_tag :email, :value => params[:email]
  p
    = label_tag :password, :class => 'first'
    = password_field_tag :password, :value => params[:password]
  
  p
    = submit_tag "Login"