h1 Editar de usuario

= form_for @user, "/users/edit/#{@user.id}", method: :put do |f|
  p
    = error_messages_for @user
  p
    = label_tag :name, :class => 'first'
    = text_field_tag :name, value: @user.name
  p
    = label_tag :last_name, :class => 'first'
    = text_field_tag :last_name, value: @user.last_name
  p
    = label_tag :username, :class => 'first'
    = text_field_tag :username, value: @user.username
  p
    = label_tag :fecha_nacimiento, :class => 'first'
    = text_field_tag :fecha_nacimiento, value: @user.fecha_nacimiento
  p
    = label_tag :email, :class => 'first'
    = email_field_tag :email, value: @user.email
  p
    = submit_tag "Plomo!!"