h2 Listado de usuarios de Tuiter

- for user in @usuarios
  h3 
    | Nombre:&nbsp;
    = link_to user.name, "users/show/#{user.id}"
  p 
    | Correo:&nbsp; 
    = user.email
  p 
    | Edad:&nbsp;
    = user.edad
  hr
h2 Timeline
  