h1 Registro de usuario

= form_for @user, '/users/create' do |f|
  p
    = error_messages_for @user
  p
    = label_tag :name, :class => 'first'
    = text_field_tag :name, :value => params[:name]
  p
    = label_tag :last_name, :class => 'first'
    = text_field_tag :last_name, :value => params[:last_name]
  p
    = label_tag :username, :class => 'first'
    = text_field_tag :username, :value => params[:username]
  p
    = label_tag :fecha_nacimiento, :class => 'first'
    = text_field_tag :fecha_nacimiento, :value => params[:fecha_nacimiento]
  p
    = label_tag :password, :class => 'first'
    = password_field_tag :password, :value => params[:password]
  p
    = label_tag :email, :class => 'first'
    = email_field_tag :email, :value => params[:email]
  p
    = submit_tag "Plomo!!"