h1 
  | Perfil de&nbsp;
  = @user.username 
-unless @user == current_user || !current_user.friends.where(friend_id: @user.id).empty?
  p 
    = link_to "Follow", "/users/follow/#{@user.id}", class: "btn btn-primary"
-else
  p 
    = link_to "UnFollow", "/users/unfollow/#{@user.id}", class: "btn btn-danger"
p
  | Nombre:&nbsp;
  = @user.full_name
p
  | Correo:&nbsp;
  = @user.email
p
  | Edad:&nbsp;
  = @user.edad
p
  | Cantidad tuits:&nbsp;
  = @user.tuits.count
hr
h4 Tuits
= partial "tuits/tuit_stream", locals: { tuits: @user.tuits }